version: "3.9"

services:
  back:
    build:
      context: ../back
      dockerfile: Dockerfile
    container_name: laravel_back
    working_dir: /var/www/html
    volumes:
      - ../back:/var/www/html
    ports:                 
      - "8080:8080"       
    depends_on:
      - mysql
    networks:
      - app_net

  front:
    build:
      context: ../front
      dockerfile: Dockerfile
    container_name: vite_front
    working_dir: /app
    volumes:
      - ../front:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    networks:
      - app_net

  nginx:
    image: nginx:1.27
    container_name: nginx_laravel
    ports:
      - "80:80"
    volumes:
      - ../back:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - back
    networks:
      - app_net

  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Miguel           # root / Miguel
      MYSQL_DATABASE: ManadaFullHouse      # se crea esta BD al iniciar
      # NO pongas MYSQL_USER=root, el user root ya existe con la password de arriba
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app_net

networks:
  app_net:
    driver: bridge

volumes:
  mysql_data:
