<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar Contraseña</title>
</head>

<body>
     <nav class="main-navbar">

    <div class="navbar-logo">
      <a href="home.html">
        <img src="../../logo.png" alt="Logo Los Lobos de Castronegro">
      </a>
    </div>

    <ul class="navbar-links" id="navbar-guest-links">
      <li><a href="login.html" class="nav-link">Iniciar Sesión</a></li>
      <li><a href="registrar.html" class="nav-link">Crear Cuenta</a></li>
    </ul>

    <ul class="navbar-links" id="navbar-user-links" style="display: none;">
    </ul>
  </nav>


    <div class="login-container">
        <h1>Recuperar contraseña</h1>

        <div class="login-form">
            <label for="email">Introduce tu correo</label>
            <input id="email" type="email" placeholder="correo@example.com" required>

            <button id="btn-recuperar">Enviar contraseña nueva</button>

            <p id="resultado"></p>
        </div>
    </div>

    <script type="module" src="../components/recuperar.ts"></script>
</body>

</html>