<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Recuperar Contraseña</title>
</head>
<body>

  <div class="login-container">
    <h1>Recuperar contraseña</h1>

    <div class="login-form">
      <label for="email">Introduce tu correo</label>
      <input id="email" type="email" placeholder="correo@example.com" required>

      <button id="btn-recuperar">Enviar contraseña nueva</button>

      <p id="resultado"></p>
    </div>
  </div>

  <script type="module" src="../components/recuperar.ts"></script>
</body>
</html>